<!doctype html>
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
 

<head>
		 <link rel="shortcut icon" href="/img/V.ico" type="image/x-icon">
 	 	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  	 	<link rel="stylesheet" type="text/css" href="/css/Style.css">
  	 	<title>Cobrança</title>
</head>
<body>

	<header layout:insert="Cabecalho"></header>

	<section layout:fragment="conteudo">
		
		 <p> Conteúdo Principal </p>
		
	</section>
	
	
	
   <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
   <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>
  