<!doctype html>
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">


<!-- codigo funcionak de add  -->
							
							<a class="btn btn-link btn-xs" data-dismiss="modal" th:href="@{/titulos/excluir/{codigo}(codigo=${titulo.codigo})}">Excluir</a>


</html>




				<div class="custom-file">
 						<input type="submit" class="custom-file-input" id="customFile">
 						 <label class="custom-file-label" for="customFile"><img src="/img/lupa.png" width="15px" height="15px" ></label>
					</div>